body{
	font-family: 'ff-meta-web-pro-1', Tahoma, Arial, Helvetica;
}

.table {
	margin-top: 50px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.table th {
	background-color: #0072B1;
	color: white;
}

a {
	color: #0072B1;
}