body{
	font-family: 'ff-meta-web-pro-1', Tahoma, Arial, Helvetica;
}

h1 {
	color: #0072B1;
	margin-bottom: 50px;
}

.header {
	background-color: #0072B1;
}

.header h1 {
	color: white;
}

h2 {
	color: #8C8C8C;
	font-size: 4vw;
}

.table {
	margin-top: 50px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.table th {
	background-color: #0072B1;
	color: white;
}

a {
	color: #0072B1;
}

.top .col-xs-6, .bottom .col-xs-6 {
	width: 50%;
	height: 40%;
}

.top {
	border-bottom: 1px solid #0072B1;
}

.top button, .bottom button {
	border: none;
	border-radius: 0px;
	padding: 0px;
}

.top .col-xs-6:nth-child(1), .bottom .col-xs-6:nth-child(1){
	border-right: 1px solid #0072B1;
}

.vert-align{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.glyph-pos {
	font-size: 2vw;
    position: absolute;
    top: 20px;
    right: 15%;
    font-size: 36px;
    color: white;
}
