body{
	font-family: 'ff-meta-web-pro-1', Tahoma, Arial, Helvetica;
}

h1 {
	color: #0072B1;
	margin-bottom: 50px;
}

.table {
	margin-top: 50px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.table th {
	background-color: #0072B1;
	color: white;
}

a {
	color: #0072B1;
}

.top {
	border-bottom: 1px solid #0072B1;
}

.top .col-xs-6:nth-child(1){
	border-left: 1px solid #0072B1;
}